* {
    margin: 0;
    padding: 0;
    --lightgreen: #566F54; 
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #566F54;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.background-container {
    overflow: hidden;
    position: fixed;
    z-index: -999;
    width: 100%;
    min-height: 100vh;
}

.background-layer1, .background-layer2, .background-layer3 {
    position: absolute;
    min-width: 3840px;
    height: 100vh;
    background-repeat: repeat-x;
    background-position-y: calc(var(--scroll) * 100%);
    image-rendering: pixelated;
}

.background-layer1 {
    background-image: url("/img/layer3.png");
    animation: slide 45s linear infinite;
}

.background-layer2 {
    background-image: url("/img/layer2.png");
    animation: slide 30s linear infinite;
}

.background-layer3 {
    background-image: url("/img/layer1.png");
    animation: slide 20s linear infinite;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    width: 70%;
    height: 80%;
    max-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    padding: 20px;
    border-radius: 25px;
}

.about-container img {
    width: 25%;
    margin: auto;
    border: 3px solid #031A15;
    border-radius: 20px;
}

.about-text {
    width: 50%;
    height: 50%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-align: center;
    font-size: 48px;
}

.about-text p {
    font-size: 22px;
}

.contact-container {
    flex-direction: column;
}

.contact-container ul {
    list-style-type: none;
}

.contact-container ul li a {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 12px;
    font-size: 32px;
    color: #ccc;
}

.contact-container ul li a:hover {
    color: #B7EAB2;
}

.contact-container ul li a i {
    margin-right: 20px;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1920px);
    }
}

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .about-container img {
        width: 35%;
    }

    .about-text {
        width: 100%;
    }

    .about-text h1 {
        font-size: 36px;
    }
    
    .about-text p {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
        height: auto;
    }
}