* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    color: var(--font-color);
    font-family: "Roboto Mono", monospace;
    --font-color: #f0f0f0;
    --link-color: #6550a0;
    --link-color-hover: color-mix(in srgb, var(--link-color) 70%, white);
    --bg-color: color-mix(in srgb, var(--link-color) 5%, black);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

#sky {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -10;
    background-color: var(--bg-color);
}

#terrain, #terrainGlow {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 20vh;
    transition: height 2s ease;
}

#terrain {
    z-index: -1;
    background: radial-gradient(var(--link-color-hover), var(--link-color));
    border-radius: 50% 50% 0% 0%;
    filter: blur(32px) brightness(0.33);
}

#terrainGlow {
    z-index: -2;
    padding-top: 5vh;
    background: linear-gradient(to top, var(--link-color-hover), var(--link-color));
    border-radius: 50%;
    filter: blur(64px);
    animation: pulse 3s ease-in-out infinite;
}

.growing {
    height: 100vh !important;
}

#stars-1, #stars-2, #stars-3 {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -3;
}

#stars-1 {
    animation: parallax 60s linear infinite;
    animation-delay: -30s;
}
#stars-2 {
    transform: translateX(100%);
    animation: parallax 60s linear infinite;
    animation-delay: 30s;
}
#stars-3 {
    animation: parallax 80s linear infinite;
    animation-delay: -40s;
}

h1 {
    font-size: clamp(2rem, 20px + 2.5vw, 4rem);
}

h2 {
    font-size: clamp(2rem, 18px + 2.25vw, 3.5rem);
}

h3 {
    font-size: clamp(1.5rem, 16px + 1.75vw, 3rem);
}

h4 {
    font-size: clamp(1rem, 14px + 1.5vw, 2rem);
}

h5 {
    font-size: clamp(0.75rem, 12px + 1.25vw, 1.5rem);
}

p {
    font-size: clamp(0.75rem, 12px + 1.25vw, 1.5rem);
}

#navbar {
    width: 20%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
}

#navbar h1 a {
    text-decoration: none;
    color: var(--font-color);
    transition: color 0.4s ease;
}

#navbar h1 a:hover {
    color: var(--link-color-hover);
}

#navbar ul {
    margin-top: 40px;
    list-style: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar ul li {
    width: 100%;
    text-align: left;
    margin: 10px 0;
}

#navbar ul li a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.4s ease;
}

#navbar ul li a:hover {
    color: var(--link-color-hover);
}

#content {
    margin-left: calc(40px + 23%);
    margin-right: 3%;
    width: 100%;
}

#content.expanded {
    margin-left: 3% !important;
}

.section {
    margin: 10% 0;
    transition: opacity 1s ease;
}

#summary {
    width: 100%;
    margin-top: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#summary > img {
    width: clamp(300px, 30vw, 400px);
    height: clamp(300px, 30vw, 400px);
    aspect-ratio: 1.0;
    border-radius: 50%;
    margin: 20px auto;
    border: 3px solid var(--link-color);
    box-shadow: 0 0 15px var(--link-color);
    object-fit: cover;
    object-position: 0px -20px;
}

#summary h1 {
    margin: 5px 0;
}

#summary h3 {
    margin: 5px 0;
}

#summary ul {
    margin: 10px 0;
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style: none;
}

#summary ul li {
    margin: 0px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#summary ul li img {
    width: 128px;
    height: 128px;
    margin-bottom: 15px;
}

#summary ul li img:hover {
    animation: dance 1.0s ease-in-out infinite;
}

#resume {
    margin-top: 20px;
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--link-color);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

#resume:hover {
    background-color: var(--link-color-hover);
    box-shadow: 0 0 5px 5px var(--link-color);
    animation: brighten 3s ease infinite;
}

#experience h1, #links h1, #projects h1 {
    text-decoration: underline;
}

#experience ul {
    width: 100%;
    list-style: none;
}

#experience ul li {
    margin: 40px 0;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

#experience ul li h5 {
    font-style: italic;
}

#experience ul li span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#experience ul li span h4 {
    flex: 2;
}

#experience ul li span h5 {
    flex: 1;
    text-align: right;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#links ul {
    margin-top: 40px;
    list-style: none;
}

#links ul li a {
    text-decoration: none;
    color: var(--link-color);
    background-color: rgba(0, 0, 0, 0.1);
    transition: color 0.4s ease, background-color 0.4s ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    padding: 12px;
}

#links ul li a:hover {
    color: var(--link-color-hover);
    background-color: rgba(0, 0, 0, 0.9);
}

#links ul li a img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#projects ul {
    margin-top: 40px;
    list-style: none;
}

#projects ul li button {
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--link-color);
    font-size: clamp(0.75rem, 10px + 1.5vw, 1.5rem);
    background-color: rgba(0, 0, 0, 0.1);
    transition: color 0.4s ease, background-color 0.4s ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    padding: 12px;
}

#projects ul li button:hover {
    color: var(--link-color-hover);
    background-color: rgba(0, 0, 0, 0.9);
}

#footer {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    transition: opacity 1s ease;
}

#icon-attributions {
    font-size: clamp(0.5rem, 0.75vw, 1.25rem);
    margin-top: 10px;
}

#icon-attributions a {
    color: var(--link-color);
    margin-left: 5px;
}

#icon-attributions a:hover {
    color: var(--link-color-hover);
}

.project-section {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 3s ease;
}

.project-section p {
    max-width: 80%;
    margin: 10px 0px;
}

.project-section img {
    width: clamp(300px, 80vw, 800px);
    border-radius: 20px;
    object-fit: scale-down;
    margin: 20px 0px;
}

.project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-links h5 {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.project-links h5 a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.4s ease, background 0.4s ease;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}

.project-links h5 a:hover {
    color: var(--link-color-hover);
    background-color: rgba(0, 0, 0, 0.9);
}

.project-links h5 button {
    outline: none;
    border: none;
    font-size: clamp(1rem, 2vw, 2rem);
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.4s ease, background 0.4s ease;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: hand;
    width: 100%;
}

.project-links h5 button:hover {
    color: var(--link-color-hover);
    background-color: rgba(0, 0, 0, 0.9);
}


@media screen and (max-width: 1024px) {
    #navbar {
        width: auto;
        height: auto;
        border-radius: 0px 0px 20px 0px;
        align-items: flex-start;
    }

    #navbar h1 a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #navbar h1 a:hover .hamburger {
        background-color: var(--link-color-hover);
    }

    #navbar h1 a span {
        display: none;
    }

    .hamburger {
        width: 45px;
        height: 6px;
        background-color: var(--font-color);
        margin: 3px 0;
        border-radius: 2px;
    }

    #navbar ul {
        margin-top: 10px;
        display: var(--quick-links-display, none);
    }

    #navbar ul li {
        margin: 5px 0;
    }

    #navbar ul li a {
    }

    #content {
        margin-left: 5%;
        margin-right: 5%;
    }

    #summary {
        margin-top: 10%;
        min-height: auto;
        height: auto;
    }

    #summary ul {
        flex-direction: column;
        align-items: center;
    }

    #summary ul li {
        margin: 10px 0;
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
    }

    #summary ul li img {
        width: 64px;
        height: 64px;
        margin-right: 20px;
    }

    #summary > img {
        margin-top: 10%;
        width: clamp(300px, 40vw, 400px);
        height: clamp(300px, 40vw, 400px);
    }

    #resume {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
    }

    #experience h1, #links h1, #projects h1 {
        margin-top: 10%;
    }

    #experience ul li span {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    #links ul li a {
    }

    #links ul li a img {
        width: clamp(16px, 3vw, 32px);
        height: clamp(16px, 3vw, 32px);
    }

    #footer p {
        text-align: center;
    }

    #icon-attributions {
        font-size: clamp(0.75rem, 1vw, 1.25rem) !important;
    }

    .project-section {
        margin-top: 10%;
    }

    .project-links {
        margin-top: 20px;
    }

    .project-links h5 {
        margin: 10px 0;
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

@keyframes parallax {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.9;
    }
}

@keyframes dance {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(1deg) scale(1.025);
    }
    50% {
        transform: rotate(0deg) scale(1);
    }
    75% {
        transform: rotate(-1deg) scale(1.025);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes brighten {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.2);
    }
    100% {
        filter: brightness(1);
    }
}
