* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: "Roboto Mono", monospace;
    --bg-color: #3d4344;
    --bg-color-dark: #323738;
    --bg-color-darker: #252829;
    --font-color: #f0f0f0;
    --link-color: #9fa2c0;
    --link-color-hover: #c1c7f6;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

#navbar {
    width: 20%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
    background-color: var(--bg-color-darker);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar h1 a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 32px;
    transition: color 0.4s ease;
}

#navbar h1 a:hover {
    color: var(--link-color-hover);
}

#navbar ul {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar ul li {
    margin: 10px 0;
}

#navbar ul li a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 24px;
    transition: color 0.4s ease;
}

#navbar ul li a:hover {
    color: var(--link-color-hover);
}

#content {
    margin-left: calc(40px + 23%);
    margin-right: 3%;
    width: 100%;
}

.section {
    margin: 10% 0;
}

#summary {
    width: 100%;
    margin-top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#summary img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    border: 3px solid black;
}

#summary h1 {
    font-size: 48px;
    margin: 5px 0;
}

#summary h3 {
    font-size: 36px;
    margin: 5px 0;
}

#summary p {
    font-size: 24px;
    margin: 5px 0;
}

#summary ul {
    text-align: left;
}

#summary ul li {
    margin: 10px 0;
}

#resume {
    margin-top: 20px;
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--link-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.4s ease;
}

#resume:hover {
    background-color: var(--link-color-hover);
}

#experience h1, #links h1 {
    font-size: 40px;
    text-decoration: underline;
}

#experience ul {
    width: 100%;
    list-style: none;
}

#experience ul li {
    margin: 40px 0;
    padding: 12px;
    background-color: var(--bg-color-dark);
    border-radius: 5px;
}

#experience ul li h3 {
    font-size: 24px;
}

#experience ul li h4 {
    font-size: 20px;
}

#experience ul li h5 {
    font-size: 16px;
    font-style: italic;
}

#experience ul li span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#experience ul li span h4 {
    flex: 2;
}

#experience ul li span h5 {
    flex: 1;
    text-align: right;
}

#experience ul li p {
    font-size: 18px;
}

#links ul {
    width: 100%;
    margin-top: 40px;
    list-style: none;
}

#links ul li {
    margin: 10px 0;
}

#links ul li a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 28px;
    transition: color 0.4s ease;
}

#links ul li a:hover {
    color: var(--link-color-hover);
}

#footer {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    #navbar {
        height: auto;
        width: auto;
        border-radius: 0px 0px 20px 0px;
    }

    #navbar h1 a {
        font-size: 28px;
    }

    #navbar h1 a:after {
        content: " (+)";
    }

    #navbar ul {
        margin-top: 10px;
        display: var(--quick-links-display, none);
    }

    #navbar ul li {
        margin: 5px 0;
    }

    #navbar ul li a {
        font-size: 20px;
    }

    #content {
        margin-left: 5%;
        margin-right: 5%;
    }

    #summary {
        height: auto;
    }
    
    #summary h1 {
        font-size: 80px;
    }

    #summary h3 {
        font-size: 60px;
    }

    #summary p {
        font-size: 36px;
    }

    #summary img {
        width: 400px;
        height: 400px;
    }

    #resume {
        font-size: 40px;
    }

    #experience h1, #links h1 {
        font-size: 80px;
    }

    #experience ul li span {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    #experience ul li h3 {
        font-size: 40px;
    }

    #experience ul li h4 {
        font-size: 36px;
    }

    #experience ul li h5 {
        font-size: 28px;
    }

    #experience ul li p {
        font-size: 24px;
    }

    #links ul li a {
        font-size: 60px;
    }
}